body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    background-color: #f4f4f4
}

a {
    text-decoration: none;
    font-weight: 600;
}

h2 {
    text-align: center;
    padding: 50px;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: 0;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td, th {
    padding: 5px;
    text-align: left;
}

.copyright {
    font-size: 75%;
    font-style: italic;
}

.slogan {
    font-size: 75%;
    font-style: italic;
}

.confirmentry {
    font-weight: 600;
}

.logs {
    margin-top: 30px;
}

.table-container {
    margin: 0 auto;
}

/*** Inputs ***/
input[type=text] {
    color: white;
    background-color: #8b8f96;
    font-size: 115%;
    width: 30em;
    border-radius: 5px;
}


select {
    font-size: 125%;
}
